.container {
  container-type: inline-size;
  container-name: card;
  width: 400px;
  height: 120px;
}

.wide {
  width: 500px;
  container-type: size;
  container-name: card-width;
}

h3 {
  height: 2rem;
  margin: 0.5rem;
}

.card {
  height: 100%;
}

.content {
  background-color: wheat;
  height: 100%;
}

.container {
  margin: 1rem;
  border: 2px dashed red;
  overflow: hidden;
}

@container card (min-width: 400px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

@container card-width (min-width: 400px) {
  .card {
    background: red;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
